main {
  height: 100%;
  background-color: #f4f3ef;
}

main.move-down {
  padding-top: 108px;
}

@media (max-width: 768px) {
  main.move-down {
    padding-top: 80px;
  }
}

main .section-about {
  width: 100%;
  padding: 0 0 10vh 0;
}

@media (max-width: 992px) {
  main .section-about {
    padding: 0 0 2vh 0;
  }
}

main .section {
  height: 100vh;
}

main .block-a {
  width: 100%;
}

@media (max-width: 768px) {
  main .block-a {
    display: block;
  }
}

@media (max-width: 768px) {
  main .block-a {
    padding-bottom: 10vh;
  }
}

main .block-a .img {
  width: 50%;
  height: auto;
  background-image: url("/img/frontpage/aboutUs/img-a.jpg");
  background-size: cover;
  background-position: center;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media (max-width: 992px) {
  main .block-a .img {
    width: 100%;
    height: 50vh;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 0;
  }
}

main .block-a .text-frame {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 50%;
}

@media (max-width: 992px) {
  main .block-a .text-frame {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

main .block-a .text-frame .about {
  font-size: 10.416vw;
  line-height: 10.416vw;
  padding-top: 6.197vw;
  padding-left: 9.583vw;
}

@media (max-width: 992px) {
  main .block-a .text-frame .about {
    width: 100vw;
    font-size: 120px;
    line-height: normal;
  }
}

@media (max-width: 768px) {
  main .block-a .text-frame .about {
    padding-top: 12vw;
    padding-left: 8.68vw;
    font-size: 100px;
    padding-top: 0;
    padding-right: 0;
    line-height: normal;
  }
}

@media (max-width: 576px) {
  main .block-a .text-frame .about {
    font-size: 80px;
  }
}

@media (max-width: 460px) {
  main .block-a .text-frame .about {
    font-size: 60px;
  }
}

main .block-a .text-frame .content {
  width: 100%;
}

@media (max-width: 992px) {
  main .block-a .text-frame .content {
    width: 100%;
  }
}

main .block-a .text-frame .content .us {
  font-size: 10.416vw;
  line-height: 10.416vw;
  padding-left: 9.583vw;
  margin-bottom: 4.166vw;
}

@media (max-width: 992px) {
  main .block-a .text-frame .content .us {
    font-size: 120px;
    line-height: normal;
  }
}

@media (max-width: 768px) {
  main .block-a .text-frame .content .us {
    padding-left: 8.68vw;
    font-size: 100px;
    line-height: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    line-height: normal;
    margin-bottom: 0;
  }
}

@media (max-width: 580px) {
  main .block-a .text-frame .content .us {
    font-size: 80px;
  }
}

@media (max-width: 460px) {
  main .block-a .text-frame .content .us {
    font-size: 60px;
  }
}

main .block-a .text-frame .content .text2 {
  display: none;
  font-size: 24px;
  letter-spacing: 2px;
  margin-left: 200px;
  margin-right: 20px;
  line-height: 36px;
  font-weight: 400;
  text-align: justify;
  text-justify: inter-ideograph;
}

@media (max-width: 992px) {
  main .block-a .text-frame .content .text2 {
    font-size: 18px;
    display: block;
    top: 40%;
    width: 55vw;
  }
}

@media (max-width: 768px) {
  main .block-a .text-frame .content .text2 {
    margin-left: 150px;
    font-size: 14px;
    top: 35%;
  }
}

@media (max-width: 580px) {
  main .block-a .text-frame .content .text2 {
    margin-left: 120px;
    width: 60vw;
    top: 25%;
  }
}

@media (max-width: 530px) {
  main .block-a .text-frame .content .text2 {
    margin-left: 120px;
    width: 60vw;
    top: 20%;
    line-height: 26px;
  }
}

@media (max-width: 460px) {
  main .block-a .text-frame .content .text2 {
    font-size: 12px;
    letter-spacing: 1px;
    margin-left: 90px;
    line-height: 18px;
  }
}

@media (max-width: 450px) {
  main .block-a .text-frame .content .text2 {
    width: 60vw;
  }
}

main .block-a .text-frame .content .text {
  display: block;
  font-size: 24px;
  letter-spacing: 2px;
  padding-left: 9.583vw;
  padding-right: 20px;
  line-height: 36px;
  text-align: justify;
  text-justify: inter-ideograph;
}

@media (max-width: 1600px) {
  main .block-a .text-frame .content .text {
    font-size: 20px;
  }
}

@media (max-width: 992px) {
  main .block-a .text-frame .content .text {
    font-size: 18px;
    display: none;
  }
}

@media (max-width: 768px) {
  main .block-a .text-frame .content .text {
    padding-top: 4.16vw;
    font-size: 14px;
    padding-left: 0;
    padding-right: 0;
  }
}

main .block-b {
  width: 100%;
  position: relative;
  z-index: 2;
}

main .block-b .img {
  width: 100%;
  height: 80vh;
  background-image: url("/img/frontpage/aboutUs/img-b.jpg");
  background-position: left;
  background-size: cover;
  z-index: 3333;
}

@media (max-width: 992px) {
  main .block-b .img {
    width: 100%;
    height: 73vw;
  }
}

main .block-b .content {
  position: absolute;
  top: 40vh;
  right: 0;
  width: 50vw;
  max-width: 540px;
  padding-right: 2vw;
  color: white;
  z-index: 3333;
  margin: auto;
  text-align: right;
}

@media (max-width: 1400px) {
  main .block-b .content {
    top: 60vh;
  }
}

@media (max-width: 992px) {
  main .block-b .content {
    display: none;
  }
}

main .block-b .content .title {
  width: 100%;
  line-height: 50px;
  letter-spacing: 2px;
  font-size: 22px;
}

@media (max-width: 992px) {
  main .block-b .content .title {
    display: none;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 768px) {
  main .block-b .content .title {
    font-size: 14px;
    padding: 5vw;
  }
}

@media (max-width: 460px) {
  main .block-b .content .title {
    font-size: 12px;
  }
}

main .block-b .content .mask {
  width: 100%;
  z-index: 2;
  background-color: #e6e3e0;
}

main .block-b .content .mask .triangle {
  width: 97.4vw;
  height: 320px;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
          clip-path: polygon(100% 0, 0 100%, 100% 100%);
  background-color: #f4f3ef;
}

main .block-b .bg {
  background-image: url("/img/frontpage/aboutUs/bg-about2.jpg");
  height: 300px;
  background-position: center;
  background-size: cover;
  margin-top: -2px;
  z-index: 6999;
}

@media (max-width: 996px) {
  main .block-b .bg {
    padding: 0;
    height: 500px;
  }
}

main .block-b .bg .title {
  padding: 50px;
  width: 70%;
  text-align: center;
  line-height: 50px;
  letter-spacing: 2px;
  font-size: 22px;
  display: none;
}

@media (max-width: 996px) {
  main .block-b .bg .title {
    display: block;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 768px) {
  main .block-b .bg .title {
    font-size: 14px;
    padding: 5vw;
  }
}

@media (max-width: 460px) {
  main .block-b .bg .title {
    font-size: 12px;
  }
}

main .block-b .bg .feature {
  text-align: center;
  width: 100vw;
  font-size: 120px;
  line-height: normal;
  display: none;
}

@media (max-width: 996px) {
  main .block-b .bg .feature {
    display: block;
  }
}

@media (max-width: 768px) {
  main .block-b .bg .feature {
    font-size: 100px;
  }
}

@media (max-width: 580px) {
  main .block-b .bg .feature {
    font-size: 80px;
  }
}

@media (max-width: 460px) {
  main .block-b .bg .feature {
    font-size: 60px;
  }
}

main .block-b .bg .img-bs {
  display: none;
  width: 100%;
  height: 50vh;
  margin-top: 20px;
  background-image: url("/img/frontpage/aboutUs/img-c.jpg");
  background-position: center;
  background-size: cover;
}

@media (max-width: 996px) {
  main .block-b .bg .img-bs {
    display: block;
  }
}

main .block-b .bg .text-s-out {
  display: none;
  background-color: #f4f3ef;
}

@media (max-width: 996px) {
  main .block-b .bg .text-s-out {
    display: block;
  }
}

main .block-b .bg .text-s-out .text-s {
  width: 80vw;
  margin: auto;
  display: none;
  font-size: 18px;
  text-align: center;
  line-height: 24px;
  letter-spacing: 2px;
  padding: 5vh;
}

@media (max-width: 996px) {
  main .block-b .bg .text-s-out .text-s {
    display: block;
  }
}

@media (max-width: 768px) {
  main .block-b .bg .text-s-out .text-s {
    font-size: 14px;
  }
}

@media (max-width: 460px) {
  main .block-b .bg .text-s-out .text-s {
    font-size: 12px;
  }
}

main .block-b .down {
  background-color: #f4f3ef;
  position: relative;
}

main .block-b .down .img-bb {
  display: block;
  width: 50%;
  height: 50vh;
  background-image: url("/img/frontpage/aboutUs/img-c.jpg");
  background-position: center;
  background-size: cover;
}

@media (max-width: 996px) {
  main .block-b .down .img-bb {
    display: none;
  }
}

main .block-b .down .feature2 {
  margin: 50px 0 0 10px;
  display: block;
  position: absolute;
  top: 5vh;
  left: 55%;
  font-size: 120px;
  line-height: normal;
}

@media (max-width: 1100px) {
  main .block-b .down .feature2 {
    font-size: 100px;
  }
}

@media (max-width: 996px) {
  main .block-b .down .feature2 {
    display: none;
  }
}

main .block-b .down .text-b {
  display: block;
  font-size: 22px;
  padding: 0 5vw 0 0;
  letter-spacing: 2px;
  text-align: left;
  position: absolute;
  top: 30vh;
  left: 55%;
  margin: auto;
}

@media (max-width: 1100px) {
  main .block-b .down .text-b {
    top: 25vh;
  }
}

@media (max-width: 996px) {
  main .block-b .down .text-b {
    display: none;
  }
}

main .b-4 {
  width: 100%;
  height: auto;
  z-index: 5555555;
  padding-bottom: 10vh;
}

@media (max-width: 996px) {
  main .b-4 {
    margin-top: 50vh;
    padding-bottom: 3vh;
  }
}

@media (max-width: 768px) {
  main .b-4 {
    margin-top: 40vh;
    padding-bottom: 3vh;
  }
}

main .b-4 .img {
  width: 70vw;
  height: 40vw;
  margin: 20vh auto 0;
  background-image: url("/img/frontpage/aboutUs/img-d.jpg");
  background-position: center;
  background-size: cover;
}

@media (max-width: 996px) {
  main .b-4 .img {
    width: 100%;
    height: 66.84vw;
    margin: 0;
  }
}

main .b-4 .text7 {
  width: 50vw;
  font-size: 26px;
  margin: 10vh auto;
}

@media (max-width: 996px) {
  main .b-4 .text7 {
    width: 80vw;
    margin: auto;
    font-size: 18px;
    text-align: center;
    line-height: 24px;
    letter-spacing: 2px;
    padding: 5vh;
  }
}

@media (max-width: 768px) {
  main .b-4 .text7 {
    font-size: 14px;
  }
}

@media (max-width: 460px) {
  main .b-4 .text7 {
    font-size: 12px;
  }
}

main .bg2 {
  background-image: url("/img/frontpage/aboutUs/bg-adout3.jpg");
  height: 70vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  margin-top: -2px;
  z-index: 6999;
}

main .bg2 .img {
  width: 60vw;
  height: 40vw;
  margin: 10vh auto;
  background-image: url("/img/frontpage/aboutUs/img-d.jpg");
  background-position: center;
  background-size: cover;
}

@media (max-width: 768px) {
  main .bg2 .img {
    width: 100%;
    height: 66.84vw;
    margin: 0;
  }
}

main .text-frame {
  margin: auto;
  width: 100%;
  background-color: #e6e3e0;
}

@media (max-width: 768px) {
  main .text-frame {
    width: 100%;
    height: 164px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #e6e3e0;
    margin: unset;
  }
}

main .text-frame .aaa {
  width: 100vw;
}

main .text-frame .text {
  width: 52vw;
  font-size: 26px;
  margin-bottom: 9vw;
}

@media (max-width: 768px) {
  main .text-frame .text {
    width: 445px;
    font-size: 14px;
    text-align: center;
    margin: 0;
  }
}

main .img-bg {
  background-color: #83582d;
  width: 50vw;
  height: 50%;
  position: absolute;
  bottom: -60vh;
  z-index: 999;
}

@media (max-width: 1400px) {
  main .img-bg {
    bottom: -50vh;
    width: 100vw;
    height: 50vh;
  }
}

main .img-bg .text2 {
  width: 50vw;
  display: none;
  font-size: 26px;
  text-align: center;
  position: absolute;
  bottom: -10vh;
  margin: auto;
}

@media (max-width: 1400px) {
  main .img-bg .text2 {
    display: block;
  }
}

main .img-bg .img3 {
  width: 100%;
  height: 100%;
  background-image: url("/img/frontpage/aboutUs/img-c.jpg");
  background-position: center;
  background-size: cover;
  z-index: 3333;
}

main .block-c {
  width: 100%;
  position: relative;
}

main .block-c .title-frame {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
}

@media (max-width: 992px) {
  main .block-c .title-frame {
    padding-top: 0;
    height: 170px;
  }
}

main .block-c .title-frame .title {
  font-size: 10.416vw;
  line-height: 10.416vw;
  text-align: center;
}

@media (max-width: 992px) {
  main .block-c .title-frame .title {
    font-size: 100px;
  }
}

main .block-c .title-frame .text {
  width: 36.45vw;
  display: block;
  font-size: 26px;
  text-align: center;
  margin: auto;
}

@media (max-width: 992px) {
  main .block-c .title-frame .text {
    display: none;
  }
}

main .block-c .img-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 0;
}

main .block-c .img-frame .img {
  width: 42.13vw;
  height: 43.07vw;
  background-image: url("/img/frontpage/aboutUs/img-c.jpg");
  background-position: center;
  background-size: cover;
  z-index: 3333;
}

@media (max-width: 992px) {
  main .block-c .img-frame .img {
    margin-top: 0;
    width: 100%;
    height: 73.26vh;
  }
}

main .block-c .content {
  display: none;
}

@media (max-width: 992px) {
  main .block-c .content {
    display: block;
    width: 100%;
    height: 168px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 50px;
    position: relative;
  }
  main .block-c .content .text {
    width: 400px;
    font-size: 14px;
    text-align: end;
  }
}

main .block-d {
  width: 100%;
  position: relative;
}

main .block-d .img {
  width: 56.45vw;
  height: 37.96vw;
  margin: 9.53vw auto 5.2vw;
  background-image: url("/img/frontpage/aboutUs/img-d.jpg");
  background-position: center;
  background-size: cover;
}

@media (max-width: 768px) {
  main .block-d .img {
    width: 100%;
    height: 66.84vw;
    margin: 0;
  }
}

main .block-d .text-frame {
  margin: auto;
}

@media (max-width: 768px) {
  main .block-d .text-frame {
    width: 100%;
    height: 164px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #e6e3e0;
    margin: unset;
  }
}

main .block-d .text-frame .aaa {
  width: 100vw;
}

main .block-d .text-frame .text {
  width: 52vw;
  font-size: 26px;
  margin-bottom: 9vw;
}

@media (max-width: 768px) {
  main .block-d .text-frame .text {
    width: 445px;
    font-size: 14px;
    text-align: center;
    margin: 0;
  }
}

main .block-d .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media (max-width: 768px) {
  main .block-d .mask {
    display: none;
  }
}

main .block-d .mask .triangle {
  position: absolute;
  top: 32.21%;
  right: 0;
  width: 100%;
  height: 67.78%;
  -webkit-clip-path: polygon(0 59.63%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 59.63%, 100% 0, 100% 100%, 0 100%);
  background-color: #e6e3e0;
}
/*# sourceMappingURL=aboutUs.css.map */